{% extends VIEW_PREFIX ~ '.layout' %}
{% block content %}
<section id="share" class="container share-page">
    <div class="showcase-single">
    	<h2>{{ title }}</h2>
		<hr>
        {{ block('page_content') }}
        {% include 'partial.social' %}
    </div>
</section>
{% endblock %}