<footer class="site-footer">
    <div class="footerWrapper">
        <div class="stickLeft">
            <ul class="social">
                <li>
                    <a class="pintrest" href="http://www.pinterest.com/chadbishop">Pinterest</a>
                </li>
                <li>
                    <a class="linkedin" href="http://www.linkedin.com/in/chadbishop">LinkedIn</a>
                </li>
                <li>
                    <a class="twitter" href="https://twitter.com/chad_bishop">Twitter</a>
                </li>
                <li>
                    <a class="facebook" href="https://www.facebook.com/1.chad.bishop">Facebook</a>
                </li>
                <li>
                    <a class="vimeo" href="https://vimeo.com/chadbishop">Vimeo</a>
                </li>
            </ul>
        </div>
        <div class="stickRight">
            <ul class="footer-links">
                <li id="toggleMap">
                    <a href="#">Get in touch</a>
                </li>
                <li>
                    <a href="/contact">Request Info</a>
                </li>
                <li id="toggleLegal">
                    <a href="#">LEGAL Disclaimer</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="footerToggleWrapper">
        <div class="panel contact-panel">
            <h2>We love helping brands and meeting new people. Let's talk!</h2>
            <div class="contact-info">
                <span>visit:</span> 7460 GIRARD AVE STE 12 LA JOLLA, CA 92037 <span>e-mail:</span> connect@ltbrdg.com <span>call:</span> 858.888.3573
            </div>
            <div class="map" id="map-canvas"></div>
        </div>
        <div class="panel legal-panel">
            <div class="legal-wrapper">
                <h2>Thank you for visiting the Light Bridge Studio Web site.</h2>
                <p>The information, documents and graphic depictions (the "Information") published on this Web site are the property of Light Bridge, LLC and its subsidiaries and affiliates (collectively "LBS"). LBS assumes no responsibility for errors or omissions in the Information on this Web site. In no event shall LBS be liable for any special, direct, indirect, consequential, or incidental damages or any damages whatsoever, whether in an action of contract, negligence or other tort, arising out of or in connection with the use of this Web site or the Information. LBS reserves the right to make additions, deletions, or modification to the Information on the Web site at any time without prior notice.</p>
                <p>Except as provided in this paragraph, no license or right, express or implied, is granted to any person under any patent, trademark, trade dress or other proprietary right. LBS grants a limited right to use the Information provided that the Information is not modified in any way and is used for informational and non-commercial personal use, and provided that LBS’ copyright notice appears on any copies.</p>
            </div>
        </div>
    </div>
</footer>