<header id="site-header" class="site-header">
	<a href="/#top" class="logo" id="top-logo">Chad Bishop</a>
	<nav>
		<ul id="site-links" class="site-links start">
			<li>
				<a href="/#about">About Me</a>
			</li>
			<li>
				<a href="/#photography">Photography</a>
			</li>
			<li>
				<a href="/#creative">Creative Direction</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
		<ul class="social">
			<li>
				<a class="pintrest" href="http://www.pinterest.com/chadbishop">Pinterest</a>
			</li>
			<li>
				<a class="linkedin" href="http://www.linkedin.com/in/chadbishop">LinkedIn</a>
			</li>
			<li>
				<a class="twitter" href="https://twitter.com/chad_bishop">Twitter</a>
			</li>
			<li>
				<a class="facebook" href="https://www.facebook.com/1.chad.bishop">Facebook</a>
			</li>
			<li>
				<a class="vimeo" href="https://vimeo.com/chadbishop">Vimeo</a>
			</li>
		</ul>
	</nav>
</header>