{% extends VIEW_PREFIX ~ '.layout' %}
{% set slide_menu = true %}
{% block content %}
	<section id="top">
		<div class="block block-style-1 block-welcome">
			 <img class="logo" src="/images/LBS_logo.png" alt="Light Bridge Studio logo" />
			 <h2>Welcome to</h2>
			 <h1 class="typeface">Light Bridge</h1>
			 <div class="line-sandwich white">A Creative Agency for World Changing Brands</div>
			 <div class="text-slider" id="name">
			 	We Exist
			 	<div class="word-swap">
				 	<ul>
				 		<li>to connect</li>
				 		<li>to inspire</li>
				 		<li>to change</li>
				 		<li>to challenge</li>
				 		<li>to advocate</li>
				 		<li>to create</li>
				 	</ul>
			 	</div>
			 	<a class="arrow-up" href="#"></a>
			 	<a class="arrow-down" href="#"></a>
			 </div>
			 <div class="bottom-text">
			 	Let's get started!
			 </div>
		</div>
	</section>
	<section id="about" data-panel-title="About">
		<div class="block block-style-2 block-about">
			<h2>bold<br/>purposeful<br/>results</h2>
			<p>We don't mind being the underdog. Unassuming, underestimated, and undeterred.</p>
			<a href="/contact" class="btn btn-primary">We're Ready</a>
		</div>
	</section>
	<section id="services" data-panel-title="Services">
		<div class="block block-style-5 block-service-1">
			<h2 class="header-block">Light Bridge Services</h2>
			<h3>We are a full service creative agency.</h3>
			<p>We get to know your brand. We specialize in each creative channel. However, our greatest strength is our ability to create and maintain fully integrated branded experiences across all creative channels.</p>
			<ul class="tab-block">
				<li class="interact">Interactive</li>
				<li class="photo">Photography</li>
				<li class="motion">Info &amp; Motion Graphics</li>
				<li class="video">Video</li>
				<li class="copy">Copywriting <span>(we call it storytelling)</span></li>
				<li class="print">Print &amp; Environmental</li>
			</ul>
		</div>
		<div class="block block-style-3 block-service-2">
			<div class="hand"></div>
			<div id="hand" class="block-wrap">
				<h2 class="logo">Our work is</h2>
				<div class="word-swap">
					<ul>
						<li>compelling</li>
						<li>creative</li>
						<li>informative</li>
						<li>affirming</li>
						<li>inspiring</li>
						<li>interesting</li>
						<li>purposeful</li>
						<li>entertaining</li>
						<li>unique</li>
						<li>personal</li>
						<li>motivational</li>
						<li>fun</li>
					</ul>
				</div>
			 	<a id="word-up-2" class="arrow-up" href="#"></a>
			 	<a id="word-down-2" class="arrow-down" href="#"></a>
		 	</div>
		</div>
		<div class="block block-style-2 block-service-3">
			<h2 class="header-block black-green">What We Can Do for You</h2>
			<p>Your audience and your goals are the driving force behind everything we do. Creative connects with people in one of three ways. <br/>We aim to accomplish all of them!</p>
			<ul class="three-column">
				<li class="inform">
					<h3>Inform</h3>
					<p>What do you want them to know?</p>
				</li>
				<li class="inspire">
					<h3>Inspire</h3>
					<p>How do you want them to feel?</p>
				</li>
				<li class="incite">
					<h3>Incite</h3>
					<p>Now, what should they do?</p>
				</li>
			</ul>
		</div>
	</section>
	<section id="work" data-panel-title="Work">
		<div id="work-panel" class="block block-style-3 block-work">
			<h2 class="header-block">It's About the Work</h2>
			<h3>We deliver. Successful Creative. On demand.</h3>
			<p>From individual campaigns to comprehensive creative strategy and management, <br/>we've got you covered.</p>
			<div class="showcase">
				<ul class="filter">
					<li class="active">All</li>
					<li>Interactive</li>
					<li>Photography</li>
					<li>Video</li>
					<li>Print</li>
					<li>Illustration</li>
					<li>Brand</li>
				</ul>
				<div class="showcase-expand">
					<div class="close">&times;</div>
					<div class="showcase-expand-wrapper"></div>
				</div>
				<div class="showcase-items">
					{{ portfolio | raw }}
				</div>
				<div class="view-more">
					<span>View More</span>
				</div>
			</div>
		</div>
	</section>
	<section id="process" data-panel-title="Process">
		<div class="block block-style-4 block-process">
			<h2 class="header-block black">Light Bridge Process</h2>
			<h3>The creative process isn't unique.</h3>
			<p>Our ability to execute it collaboratively, consistently, and flawlessly is what sets us apart.</p>
			<div id="processSteps" class="process-steps">
				<ul class="details">
					<li class="discover active">
						<p>Gain insights and potential challenges to your brand, your voice, and your audience. Ultimately, these are the most crucial connections to brand loyalty, customer satisfaction, and reaching your business goals.</p>
					</li>
					<li class="design">
						<p>This is where the rubber meets the road. We take our newly garnered brand insights, customer knowledge, and project goals and requirements and mold them into a unique, relevant, and engaging sensory experience.</p>
					</li>
					<li class="develop">
						<p>For technology projects, with the final creative and your technology requirements in-hand, our development team transforms the user stories into functional products. Technology is constantly evolving. We stay agile and adopt to the evolving landscape. We provide a road map with check-points on the way to the final destination.</p>
					</li>
					<li class="implement">
						<p>Integration with existing technologies, vendor distribution specifications, legacy systems. We understand, appreciate, and plan for these additional requirements and know how to navigate the potentially dangerous waters.  </p>
					</li>
					<li class="evaluate">
						<p>Measuring return on investment is a key ingredient to our process. Did we accomplish the defined goals and objectives? What worked well? What can we change or improve? Evaluation leads to discovery... which brings us back to the beginning!</p>
					</li>
				</ul>
				<ul class="labels">
					<li class="discover active"><div class="hit"><span>Discover</span></div></li>
					<li class="design"><div class="hit"><span>Design</span></div></li>
					<li class="develop"><div class="hit"><span>Develop</span></div></li>
					<li class="implement"><div class="hit"><span>Implement</span></div></li>
					<li class="evaluate"><div class="hit"><span>Evaluate &amp; Improve</span></div></li>
				</ul>
			</div>
		</div>
	</section>
	<section id="inspiration" data-panel-title="Inspiration">
		<div id="inspiration-panel" class="block block-style-5 block-inspire-1">
			<h2 class="header-block green-red">Inspiration Board</h2>
			<div class="showcase">
				<ul class="filter">
					<li class="active">All</li>
					<li>Travel</li>
					<li>Typography</li>
					<li>Photography</li>
					<li>Design</li>
					<li>Illustration</li>
					<li>Video</li>
				</ul>
				<div class="showcase-expand">
					<div class="close">&times;</div>
					<div class="showcase-expand-wrapper"></div>
				</div>
				<div class="showcase-items">
					{{ inspire | raw }}
				</div>
				<div class="view-more">
					<span>View More</span>
				</div>
			</div>
		</div>
		<div class="block block-style-1 block-inspire-2">
			<h2>Who Inspires Us.</h2>
			<h3>We want to work with world changers. Philanthropists, humanitarians, activist, advocates. If that describes you, let's talk.</h3>
			<div class="logo-grid">
				<div class="row-1">
					<div class="logo logo-charity"></div>
					<div class="logo logo-invchld"></div>
					<div class="logo logo-sevenly"></div>
					<div class="logo logo-conmag"></div>
				</div>
				<div class="row-2">
					<div class="logo logo-good"></div>
					<div class="logo logo-feedchild"></div>
					<div class="logo logo-holstee"></div>
					<div class="logo logo-toms"></div>
				</div>
				<div class="row-3">
					<div class="logo logo-feed"></div>
					<div class="center">
						<a href="">Read More</a>
					</div>
					<div class="logo logo-collabfund"></div>
				</div>
			</div>
		</div>
	</section>
	<section id="contact" data-panel-title="Contact" >
		<div class="block block-style-5 block-contact">
			<div id="contact-carousel" class="slide carousel" data-interval="4000">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#contact-carousel" data-slide-to="0" class="active"></li>
				    <li data-target="#contact-carousel" data-slide-to="1"></li>
				    <li data-target="#contact-carousel" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner">
					<div class="item active" style="background-image:url(/images/contact-panel-1.png)">
						<!--<img src="/images/contact-panel-1.png" alt="" />-->
						<div class="carousel-caption">
							"Imagination is more important than knowledge. For knowledge is limited to all we now know and understand, while imagination embraces the entire world." <br/>Albert Einstein
						</div>
					</div>
					<div class="item" style="background-image:url(/images/contact-panel-2.jpg)">
						<!--<img src="/images/contact-panel-1.png" alt="" />-->
						<div class="carousel-caption">
							"You were born with the ability to change someone's life - don't ever waste it." Dale Partridge - Sevenly
						</div>
					</div>
					<div class="item" style="background-image:url(/images/contact-panel-3.jpg)">
						<!--<img src="/images/contact-panel-1.png" alt="" />-->
						<div class="carousel-caption">
							"Poverty is the worst form of violence. <br/>
							Be the change you want to see in the world." Mahatma Gandhi
						</div>
					</div>
				</div>
			</div>
			<h2>We'd love to hear from you!</h2>
			<a class="btn btn-primary megaphone" href="/contact">How Can We Help You?</a>
		</div>
	</section>
	<div class="next-panel" id="next-panel"></div>
{% endblock %}

{% block scripts %}
	{# INDEX SCRIPTS ONLY #}
	<script src="/js/lib/isotope/jquery.isotope.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/my-lib/showcase-control.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/my-lib/single-page-scroller.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/my-lib/text-slider.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/index.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}