<header id="site-header" class="site-header">
    <a href="/#top" class="logo" id="top-logo">Light Bridge - Creative for World Changers</a>
    <nav>
        <ul id="site-links" class="site-links">
            <li>
                <a href="/#about">About</a>
            </li>
            <li>
                <a href="/#services">Services</a>
            </li>
            <li>
                <a href="/#work">Work</a>
            </li>
            <li>
                <a href="/#process">Process</a>
            </li>
            <li>
                <a href="/#inspiration">Inspiration</a>
            </li>
            <li>
                <a href="/#contact">Contact</a>
            </li>
            <li>
                <a href="http://blog.ltbrdg.com/">Blog</a>
            </li>
        </ul>
        <ul class="social">
            <li>
                <a class="twitter" href="https://twitter.com/lightbridge">Twitter</a>
            </li>
            <li>
                <a class="facebook" href="https://www.facebook.com/ltbrdg">Facebook</a>
            </li>
            <li>
                <a class="vimeo" href="https://vimeo.com/chadbishop">Vimeo</a>
            </li>
            <li>
            <a class="pintrest" href="http://www.pinterest.com/chadbishop/boards/">Pinterest</a>
            </li>
        </ul>
        <a href="/contact" class="btn">Let's Talk</a>
    </nav>
</header>