{% extends template | default('page') %}

{% set title = 'Dia De Los Muertos' %}

{% set categories = 'world lifestyle portrait' %}

{% set thumbnail_size = 'small' %}
{% set thumbnail_name = '1393915745.jpg' %}

{% block page_content %}
<img src="/image/original/1393915745.jpg" alt="Dia De Los Muertos" data-lightbox="" />
	                    	    		<div class="row">
    			<div class="col-md-12">
    				    				    				    <img src="/image/original/1393915745_0.png" />
                        				    			</div>
    		</div>
	        	    		<div class="row">
    			<div class="col-md-12">
    				    				    				    <img src="/image/original/1393915745_1.jpg" />
                        				    			</div>
    		</div>
	        	    		<div class="row">
    			<div class="col-md-12">
    				    				    				    <img src="/image/original/1393915745_2.jpg" />
                        				    			</div>
    		</div>
	        	    		<div class="row">
    			<div class="col-md-12">
    				    				    				    <img src="/image/original/1393915745_3.jpg" />
                        				    			</div>
    		</div>
	        	    		<div class="row">
    			<div class="col-md-12">
    				    				    				    <img src="/image/original/1393915745_4.jpg" />
                        				    			</div>
    		</div>
{% endblock %}