{% extends template | default('page') %}

{% set title = 'Home Depot Military Campaign' %}

{% set categories = 'commercial print photography' %}

{% set thumbnail_size = 'small' %}
{% set thumbnail_name = '1392759860.png' %}

{% block page_content %}
<img src="/image/original/1392759860.png" alt="Home Depot Military Campaign" />
<div class="row">
	<div class="col-md-12">
		<img src="/image/original/1392759860_0.png" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img src="/image/original/1392759860_1.png" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img src="/image/original/1392759860_2.png" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img src="/image/original/1392759860_3.png" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img src="/image/original/1392759860_4.jpg" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img src="/image/original/1392759860_5.png" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img src="/image/original/1392759860_6.png" />
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<img src="/image/original/1392759860_7.png" />
	</div>
</div>
{% endblock %}